form {
  display: flex;
  flex-direction: column;

}

form label {
  margin-top: 20px;
}

form>div {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}




form input[type="text"],
form select {
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  color: #023047;
  min-width: 80%;
}

input[type="text"]:focus {
  border: 3px solid #023047;
}


form button {
  cursor: pointer;
  padding: 10px 10px;
  margin: 1rem auto;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #001219;
}

@media (min-width: 800px) {
  form {
    display: flex;
    flex-basis: 76%;
    justify-content: center;
    flex-flow: row wrap;
    gap: 4%;
    padding: 5rem 3rem;
    box-shadow: 18px 14px 11px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 18px 14px 11px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 18px 14px 11px 0px rgba(0, 0, 0, 0.29);
  }

  form>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    flex-basis: 24%;
  }

  form label {
    margin-top: 0;
  }

  form button {
    flex-basis: 20%;
    padding: 10px;
    margin-top: 2rem;
  }

  form input[type="text"],
  form select {

    margin: 0rem;

  }
}