form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  margin: 0 1rem;
  background-color: #01bafe;
  color: #020202;
}

form label {
  margin-top: 20px;
}

form>div {
  display: flex;
  flex-direction: column;
  margin: 8px 20px;
}

form input[type="text"],
form select {
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #fefefe;
  color: #023047;
  min-width: 80%;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border: none;
}

select .options {
  position: absolute;
  width: 100px;
  z-index: 1;
}

form button {
  cursor: pointer;
  padding: 10px 10px;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #001219;
}

@media (min-width: 800px) {
  form {
    display: flex;
    flex-direction: column;
    flex-basis: 23%;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 18px 14px 11px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 18px 14px 11px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 18px 14px 11px 0px rgba(0, 0, 0, 0.29);
  }

  form>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
  }

  form label {
    margin-top: 0;
  }

  form button {
    flex-basis: 20%;
    padding: 10px;
    margin-top: 2rem;
  }

  form input[type="text"],
  form select {
    margin: 0rem;
  }
}