.loading-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.detail-pet {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-message h1 {
    font-size: 1rem;
    font-weight: 200;
}

.detail-pet .pet-description {
    max-width: 100%;
    font-size: 1.3rem;
    line-height: 1.5;
}

#modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal:empty {
    display: none;
}

#modal>div {
    background-color: white;
    max-width: 500px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background: #faeff0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: row wrap;
    gap: 10px;
}

#modal h1 {
    font-size: 1rem;
    color: #111827;
}

#modal button {
    display: inline-block;
    margin-right: 15px;
}

.option .yes {
    border: none;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    background-color: #023047;
    padding: 4px 8px;
    border-radius: 2px;
}

.option .no {
    border: none;
    color: #023047;
    font-size: 0.875rem;
    text-decoration: underline;
    cursor: pointer;
}