figure div {
  /* set height or nothing will display. Width is 100% by default */
  min-height: 150px;
}

img {
  width: 100%;
}

.figure {
  margin: 1rem;
}

.image-animal {
  background-color: #01bafe
}


@media(min-width: 550px) {
  .figure {
    flex-basis: 48%;
    margin-bottom: 1rem;
  }
}

@media(min-width: 800px) {
  figcaption {
    background-color: #001219;
    color: white;
    padding: 1rem;
  }

  .figure {
    flex-basis: 23%;
    margin-bottom: 1rem;
  }

}