.carousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin: 1rem 0;
}

.carousel>img {
    max-width: 100%;
    max-height: 400px;
}

.carousel-smaller {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    width: 100%;
}

.carousel-smaller>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #333;
}

.carousel-smaller>img.active {
    border-color: #333;
    opacity: 0.6;
}

@media (min-width: 800px) {
    .carousel {
        flex-direction: row;
    }

    .carousel>img {
        max-width: 50%;
    }

    .carousel-smaller {
        width: 50%;
    }
}