.carousel {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin: 1rem 0;
}

.carousel>img {
    max-width: 45%;
    max-height: 400px;
}

.carousel-smaller {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    width: 50%;
}

.carousel-smaller>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #333;
}

.carousel-smaller>img.active {
    border-color: #333;
    opacity: 0.6;
}