@font-face {
  font-family: "didot";
  src: local("GFSDidot-Regular"),
    url("./fonts/GFS_Didot/GFSDidot-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fefefe;
  color: #7a7979;
  font-family: "didot", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header a {
  text-align: center;
  color: #7a7979;
  text-decoration: none;
}

header {
  margin-top: 2rem;

}

/*
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
*/

.liste-animaux {
  margin-top: 2rem;
}