@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "didot";
  src: local("GFSDidot-Regular"),
    url("./fonts/GFS_Didot/GFSDidot-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fefefe;
  color: #7a7979;
  font-family: "didot", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}